.all-products_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-basis: 5;
  gap: 2rem;
}

.all-products_left {
  background: whitesmoke;
  flex: 1;
  padding: 10px;
}
.all-products_left ul {
  list-style-type: none;
  font-size: 1.2rem;
  margin: 10px;
}
.all-products_left ul li {
  cursor: pointer;
  transition: all 200ms;
}
.all-products_left ul li:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.all-products_right {
  flex: 4;
  max-height: 80vh;
  overflow-y: scroll;
}

.all-products_right h1:first-child {
  text-transform: uppercase;
}
.all-products-cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.all-products-card {
  height: 430px;
  background: whitesmoke;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #222;
}
.all-products-card img {
  max-width: 70%;
  height: auto;
}
.all-products-card {
  font-size: 1rem;
}
.pr {
  font-size: 1.5rem;
}

.all-products-card button {
  width: 100%;
  padding: 6px 2rem;
  margin-top: 10px;
  background: var(--primary-color);
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 300ms;
}

.all-products-card button:hover {
  background: lightskyblue;
  color: #222;
}

@media screen and (max-width: 650px) {
  .all-products_container {
    width: 100%;
    max-height: 200vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .all-products_left {
    background: whitesmoke;
    padding: 10px;
  }
  .all-products_left ul {
    list-style-type: none;
    font-size: 14px;
    margin: 10px;
    display: flex;
    gap: 10px;
    font-size: 12px;
  }
  .all-products_left ul li {
    cursor: pointer;
    transition: all 200ms;
  }
  .all-products_left ul li:hover {
    text-decoration: underline;
    color: var(--primary-color);
  }
  .all-products_right {
    max-height: 80vh;
    overflow-y: scroll;
    padding: 5px;
  }

  .all-products_right h1:first-child {
    text-transform: uppercase;
  }
  .all-products-cards {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 5px;
    padding: 8px;
  }
  .all-products-card {
    height: 250px;
    background: whitesmoke;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .all-products-card img {
    max-width: 40%;
    height: auto;
  }
  .all-products-card {
    font-size: 12px;
  }
  .pr {
    font-size: 1rem;
  }

  .all-products-card button {
    width: 100%;
    padding: 8px 2rem;
    margin-top: 10px;
    background: var(--primary-color);
    color: white;
    border: none;
    font-size: 12px;
    cursor: pointer;
  }
}
