.discount-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 0 auto;
}

.discount-left,
.discount-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .discount-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin: 0 auto;
  }

  .discount-left,
  .discount-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }.discount-left img,
  .discount-right img{
    width: 100%;
  }
}
