.hero-section {
  width: 100%;
  height: 70vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.hero-card {
  width: 400px;
  height: 400px;
  background: white;
  border-radius: 10px;
  padding: 2rem;
}
.hero-top {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bolder;
}
.hero-top img {
  width: 40px;
}

.hero-section h1 {
  font-size: 2.5rem;
}

.hero-section p {
  font-size: 1.1rem;
  color: #444;
  margin-top: 1rem;
}

.hero-section button {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 6px 1.5rem;
  cursor: pointer;
}
.hero-description {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.hero-desc__card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.hero-desc__card span {
  font-size: 3rem;
  color: var(--primary-color);
  padding: 20px;
}

.hero-desc__card > div {
  line-height: 10px;
}
.hero-desc__card > div p:first-child {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}
.hero-desc__card > div p:last-child {
  font-size: 12px;
}

@media screen and (max-width: 650px) {
  .hero-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    background: #fff;
  }
  .hero-card {
    height: 350px;
    width: 300px;
  }

  .hero-section h1 {
    font-size: 1.2rem;
  }
  .hero-section p {
    font-size: 12px;
  }
  .hero-desc__card span {
    font-size: 25px;
  }
  .hero-desc__card > div p:first-child {
    font-size: 12px;
    color: black;
    font-weight: bold;
  }
  .hero-desc__card > div p:last-child {
    font-size: 12px;
  }
  .hero-desc__card {
    background: whitesmoke;
  }
  .hero-description {
    position: static;
    bottom: 0px;
    left: 50%;
    gap: 1rem;
    transform: translateX(0);
    height: 100px;
    background: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fff;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
