.product-display_container {
  width: 80%;
  margin: 2rem auto;
  min-height: 70vh;
  padding: 1.5rem;
}

.see-more-btn {
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--primary-color);
  cursor: pointer;
}
.product-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}
.product-card {
  border-radius: 5px;
  transition: all 200ms;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid white;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card img {
  max-width: 50%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.product-card:hover {
  border: 1px solid seagreen;
}
.product-card_desc {
  padding: 10px;
}
.product-card_desc > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.product-card_desc > div h4:first-child {
  text-decoration: line-through;
  color: #555;
  font-size: 1rem;
}
.product-card_desc > div h4:last-child {
  color: #222;
  font-weight: bolder;
  font-size: 1.3rem;
}
.add-to-card_btn {
  width: 100%;
}

.add-to-card_btn button {
  padding: 10px 2.5rem;
  display: block;
  text-align: center;
  margin: 0 auto;
  color: white;
  background: var(--primary-color);
  border: none;
  border-radius: 4px;
}