.profile-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.profile-left {
  background: whitesmoke;
  padding: 2rem;
}
.profile-left ul {
  margin-left: 30px;
  list-style-type: none;
  font-size: 1.2rem;
  padding: 10px;
}
.profile-left ul li {
  cursor: pointer;
}

.profile-right {
  padding: 3rem;
}

.profile-right .tab-content {
  display: none;
}

.active-tabs {
  color: lightseagreen;
}
.tab-content.active-content {
      display: block;
}

/* profile tab from component  */
.profile-tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.profile-tab > div {
  min-height: 80px;
}

.profile-tab > div > span:nth-child(2) {
  font-size: 13px;
  padding: 5px;
  color: lightseagreen;
  cursor: pointer;
}

/* address tab from component  */
.address-tab {
  position: relative;
}

.add-address_form {
  display: none;
}

.add-address_form.active {
  display: block;
}

.new-add_btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 1.5rem;
  cursor: pointer;
  color: white;
  background: var(--primary-color);
  border: none;
}

.address-tab form label  {
  display: block;
  margin-bottom: 5px;
}
.address-tab form > div {
  margin: 10px 0;
}
.address-tab form input, select {
  padding: 10px;
  width: 50%;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1),-1px -1px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
}

.address-tab__card {
  padding: 10px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1),-1px -1px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.save-address_btn {
  padding: 10px 1.5rem;
  cursor: pointer;
  color: white;
  background: var(--primary-color);
  border: none;
}