.toast-container {
  width: 200px;
  height: 70px;
  background: white;
  border-radius: 10px;
  color: green;
  position: absolute;
  top: 5rem;
  right: 0;
  align-items: center;
  justify-content: center;
  animation: toastanim 3s forwards;
}

@keyframes toastanim {
  0% {
    right: 5rem;
    display: flex;
  }
  50% {
    right: 5rem;
    display: flex;
  }
  90% {
    display: flex;
  }
  100% {
    opacity: 0;
  }
}
